@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #25252b}

.gift-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20%;

}
.gift-container.active {
  animation: Vibration 1s ease forwards
}
@keyframes Vibration{
  0%{
    transform: scale(1,1);
  }
  25%{
    transform: scale(0.95, 1.05);
  }
  50%{
    transform: scale(1.1, 0.9);
  }
  70%{
    transform: scale(0.9,1.1);
  }
  100%{
    transform: scale(1,1);
  }
}
.gift-container .gift-box {
  position: absolute;
  height: 200px;
  width: 300px;
  background-color: #6ad3e5;
  animation: Bounce 4s ease infinite;
}

@keyframes Bounce{
   0%{
    transform: translateY(-24px);
  }
  50% { 
    transform: translateY(0px);
  } 
  100% {
    transform: translateY(-24px);
  }
}
.gift-box.active{
  animation:none;
}
.gift-box:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 200px;
  background-color: #e76f51;
  left: 124px;
}
.gift-box::after {
  content: '';
  position: absolute;
  box-shadow: inset 0 10px rgba(0, 0, 0, 0.3);
  height: 200px;
  width: 300px;
}
.click {
  position: absolute;
  background-color: #6ad3e5;
  width: 340px;
  height: 90px;
  top: -90px;
  left: -20px;
  cursor: pointer;
  z-index: 1;
  transition: 2s ease;
}

.click::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 90px;
  background-color: #e76f51;
  left: 144px;
  z-index: 2;
}
.click::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 0;
  border-top: 60px solid #e76f51;
  border-bottom: 60px solid #e76f51;
  border-left: 0px solid transparent;
  border-right: 60px solid transparent;
  transform: rotate(-90deg);
  top: -93px;
  left: 136px;
  z-index: 3;
}
.click.active{
  transform: rotate(-110deg) scale(0.85);
  left: -225px;
  transition-delay: 1s;
}

.gift-container .shadow {
  content: '';
  position: relative;
  width: 340px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  top: 100px;
  border-radius: 50%;
  animation: BounceOut 4s ease infinite forwards;
}
@keyframes BounceOut {
  0%{
    transform: translateY(24px);
    scale: 0.7;
  }
  50%{
    transform: translateY(0);
    scale: 1;
  }
  100% {
    transform: translateY(24px);
    scale: 0.7;
  } 
}
.shadow.active {
  animation: none;
}
a{
  display: inline-block;
  text-decoration: none;
  color:#e76f51;
  font-size: 40px;
}
.text{
  position: absolute;
  top: 50px;
  left: 50px;
  width: 200px;
  background:#6ad3e5;
  padding: 20px;
   text-align: center;
    border-radius: 20px;
    z-index: -1;
    transition: .5s ease;
    transition-delay: 1.8s;
    opacity: 0;
}
.text.active {
  transform: translateY(-200px);
  opacity:1;
}
.text.active2{
  transition-delay: .6s;
  top: 50px;
  left: 50px;
  opacity: 0;
}